.c-analyzer-header {
  > .actions-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $space-1 $space-1 * 6 $space-1 $space-1 * 4;
    background-color: palette(sand);

    > .toggle-container {
      > .accordion-analyzer-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        > .arrow-icon {
          display: inline-flex;
          width: 16px;
          height: 16px;
        }
      }

      .title {
        margin: 0 0 0 $space-1 * 2;
        line-height: $font-size-extrabig;
        font-size: $font-size-extrabig;
        color: palette(gray, dark);
      }
    }
  }
}
