.c-btn-menu {
  display: flex;
  // margin: 0 (-$space-1);

  /* Modifiers */
  &.-stacked {
    .btn-menu-item {
      flex: 1;
    }

    .btn-menu-btn {
      width: 100%;
    }
  }

  /* Themes */
  &.-theme-white {
    .btn-menu-btn {
      background-color: palette(white);
      color: palette(blue);
    }
  }

  &.-theme-sand {
    .btn-menu-btn {
      background-color: palette(sand);
      color: palette(blue);

      &:hover {
        background-color: rgba(palette(gray, light), .5);
      }
    }
  }
}

.btn-menu-item {
  &:not(:last-child) {
    padding: 0 $space-1 0 0;
  }
    &.-active {
    .-theme-white & {
      > * {
        border: 1px solid palette(blue);
        color: palette(blue);
      }
    }
  }
}

.btn-menu-btn {
  display: block;
  padding: ($space-1 / 2) ($space-1 * 2);
  border: 1px solid rgba(palette(blue), .2);
  border-radius: 3px;
  background: transparent;
  font-size: $font-size-big;
  font-weight: 500;
  transition: background-color linear $animation-time;
}
