.c-checkbox {

  &.-inline {
    display: inline-block;
  }

  &.-reverse {
    label {
      padding-left: 0;
      span {
        left: auto;
        right: 0;
      }
    }
  }

  label {
    font-family: $font-family-roboto;
    font-size: $font-size-default;
    font-weight: normal;
    color: palette(gray, dark);
    padding-right: $space-1 * 3;
    &:hover {
      color: palette(gray, dark);
    }
  }

  input[type="checkbox"]:checked + label {
    color: palette(gray, dark);
  }

}
