$separation: $space-1 * 2;

.c-layerlist {
  padding: $sidebar-padding;
  background-color: palette(sand);
  color: palette(gray, dark);
  font-family: $font-family-roboto;
}

.layerlist-title {
  display: block;
  font-size: $font-size-extrabig;
  margin-bottom: $separation;
}

.layerlist-item {

  span {
    @include clearfix;
    text-transform: uppercase;
    letter-spacing: .9px;
    display: block;
    margin-bottom: $separation;
  }

  .c-radio {
    display: inline-block;
    vertical-align: middle;
  }

  ul {
    padding-left: $separation;
  }

  li span {
    text-transform: none;
  }

  .c-icon {
    fill: palette(blue);
    float: right;
    border: 1px solid palette(gray);
    border-radius: 50%;
    width: 22px;
    height: 22px;
    padding: 3px;
  }
}

.advanced {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  .c-checkbox {
    margin-left: $space-1;
  }
}
