$separation: $space-1 * 2;

.c-layerlist {
  padding: $space-1 * 4 $space-1 * 4 $space-1 * 6;
  background-color: palette(sand);
  color: palette(gray, dark);
  font-family: $font-family-roboto;
}

.layerlist-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $separation;

  > .indicator-header {
    display: flex;
    align-items: center;
  }
}

.layerlist-title,
.future-title {
  display: block;
  font-size: $font-size-extrabig;
}

.timeline-title {
  display: block;
  font-size: $font-size-big;
  font-weight: 500;
  line-height: 1.2;
}

.layerlist-item {
  .ponderation-header {
    display: flex;
    margin: 0 0 $space-1 * 2;

    > .icon-container {
      position: relative;
      left: -20px;
    }

    &.-no-radio {
      > .icon-container {
        left: 0;
      }
    }
  }

  .-advanced > & {
    margin-bottom: $space-1 * 4;
    color: palette(gray, dark);

    &.-disabled {
      color: rgba(palette(gray, dark), .5)
    }
  }

  .custom {
    float: right;
  }

  .title {
    display: flex;
    margin-bottom: $separation;

    &.-upper {
      &, * {
        text-transform: uppercase;
      }
    }
  }

  &.-selected {
    > .layerlist-list:after {
      border-left-color: palette(blue, secondary);
    }
  }

  .layerlist-list {
    padding-left: $separation * 2;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      height: calc(100% + 10px);
      left: 7px;
      bottom: 0;
      width: 2px;
      border-left: 1px solid palette(gray, light);
    }
  }

  .layerlist-item .title {
    text-transform: none;
  }

  .item-icon {
    fill: palette(blue);
    float: right;
    border: 1px solid palette(gray);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    padding: 3px;
    margin: 0 0 0 10px;
    cursor: pointer;

    &:hover {
      fill: palette(white);
      background: palette(blue);
      border-color: palette(blue);
    }
  }
}

.advanced {
  .c-checkbox {
    margin-left: $space-1;
  }
}

.future-group {
  margin-bottom: $space-1 * 4;

  &:last-child {
    margin-bottom: 0;
  }

  p {
    margin-bottom: $space-1 * 3;
  }

  .icon-container {
    > svg {
      width: 20px;
      height: 20px;
      padding: 2px;
      border: 1px solid palette(gray, dark);
      border-radius: 50%;
      fill: palette(gray, dark);
      transition: background-color .1s linear;
      cursor: pointer;

      &:hover {
        fill: palette(sand);
        background-color: palette(gray, dark);
      }
    }
  }
}
