$separation: $space-1 * 2;

.c-layerlist {
  padding: $sidebar-padding;
  background-color: palette(sand);
  color: palette(gray, dark);
  font-family: $font-family-roboto;
}

.layerlist-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $separation;
}

.layerlist-title {
  display: block;
  font-size: $font-size-extrabig;
}

.timeline-title {
  display: block;
  font-weight: 500;
  font-size: $font-size-big;
  margin-bottom: $separation;
}

.layerlist-cbox {
  margin-bottom: $space-1 * 2;
}

.layerlist-item {

  .-advanced > & {
    margin-bottom: $space-1 * 4;
  }

  .custom {
    float: right;
  }

  .title {
    display: block;
    margin-bottom: $separation;

    &.-upper {
      &, * {
        text-transform: uppercase;
      }
    }
  }

  &.-selected {
    > .layerlist-list:after {
      border-left-color: palette(blue, secondary);
    }
  }

  .layerlist-list {
    padding-left: $separation * 2;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      height: calc(100% + 10px);
      left: 7px;
      bottom: 0;
      width: 2px;
      border-left: 1px solid palette(gray, light);
    }
  }

  .layerlist-item .title {
    text-transform: none;
  }

  .item-icon {
    fill: palette(blue);
    float: right;
    border: 1px solid palette(gray);
    border-radius: 50%;
    width: 22px;
    height: 22px;
    padding: 3px;
  }
}

.advanced {
  .c-checkbox {
    margin-left: $space-1;
  }
}

/* Future */
.future-title {
  display: block;
  text-transform: uppercase;
  margin-bottom: $space-1 * 2;
  margin-left: $space-1 * -2;
}

.future-group {
  margin-bottom: $space-1 * 4;
  padding-left: $space-1 * 2;

  &:last-child {
    margin-bottom: 0;
  }

  p {
    margin-bottom: $space-1 * 3;
  }
}
