.c-legend {
  min-width: 0;

  > .legend-header {
    display: none;
  }

  > .legend-content {
    .graph {
      &.-disclaimer {
        .graph-list {
          flex-direction: column;
        }
      }
    }
  }
}
