.l-map-legend {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  width: 400px;
  z-index: 9;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(palette(black), .25);

  .wri_api__close-legend {
    background-color: rgba(245, 243, 240, .9);

    .wri_api__legend-title {
      font-size: $font-size-default;
      font-weight: 500;

      .wri_api__toggle-legend {
        background-color: rgba(245, 243, 240, .9);
      }
    }
  }
}
