$marker-size: 24px;

.c-marker {
  z-index: 1;

  .marker-inner {
    width: $marker-size - 10;
    height: $marker-size - 10;
    background-color: $color-tertiary;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid $color-white;
    border-radius: 50%;
    transition: all $animation-time $ease-in-out-sine;
    transform-origin: 50% 50%;
  }

  &.-selected {
    z-index: 999999 !important;

    .marker-inner {
      background-color: palette(blue, light);
      transform: scale(1.5);
    }
  }
}
