.c-radio {
  label {
    font-weight: normal;
    color: palette(gray, dark);
    font-size: $font-size-default;
    letter-spacing: 0;

    &:hover {
      color: palette(gray, dark);
    }
  }

  input[type="radio"]:checked + label {
    color: palette(gray, dark);
  }
}

.c-radio-box > * {
  margin-bottom: 0;
}
