.c-radio {
  label {
    font-weight: 500;
    font-size: $font-size-big;
    color: palette(gray, dark);
    letter-spacing: 0;

    &:hover {
      color: palette(gray, dark);
    }
  }

  input[type="radio"]:checked + label {
    color: palette(blue, secondary);
  }
}

.c-radio-box > * {
  margin-bottom: 0;
}

.c-radio-box {

  &.-secondary {
    label {
      color: palette(blue, light);
    }

    input[type="radio"]:checked + label {
      color: palette(white);
    }
  }
}
