
.c-table {

  padding: $space-1;
  background-color: palette(white);
  color: palette(gray, dark);

  .table {
    width: 100%;
    // table-layout: fixed;

    th {
      font-weight: bold;
      letter-spacing: .9px;
      line-height: 1;
      vertical-align: bottom;
      padding: $space-1;
    }

    tbody {
      tr {
        &:nth-child(odd) {
          background-color: rgba(palette(gray), .1);
        }

        &.-selected {
          // color: palette(white);
          background-color: palette(blue, light);
        }
      }

      td {
        padding: $space-1
      }
    }
  }

  .paginator {
    display: flex;

    button {
      padding: $space-1 ($space-1 * 2);
    }
  }

  .th-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .table-footer {
    display: flex;
    justify-content: space-between;
  }
}
