
.c-table {

  padding: $space-1 * 4;
  color: palette(gray, dark);

  .table {
    width: 100%;
    table-layout: fixed;
    background-color: palette(white);

    th {
      font-weight: bold;
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: rgba(palette(gray), .05);
        }
      }
    }
  }

  .paginator {
    display: flex;

    button {
      padding: $space-1 ($space-1 * 2);
    }
  }
}

/* Filters */

.c-table-filters {

  position: relative;

  .filters-btn {
    display: inline-block;
    width: 15px;
    height: 10px;
    background-color: green;
  }

  .filters-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: palette(white);
    padding: $space-1;
    z-index: 999;
    border: 1px solid palette(gray, light);
  }
}
