/* Filters */
$_arrow-width: 12px;
$_footer-height: 40px;

.c-table-filters {

  position: relative;

  .filters-btn {
    display: inline-block;
    width: 15px;
    height: 10px;
    background-color: green;
  }
}

/* Table filters content */
.c-table-filters-content {
  z-index: 10000;
  background: $color-white;
  border: 1px solid palette(gray, light);
  box-shadow: 0 2px 4px 0 rgba(black, 0.2);
  opacity: 1;
  visibility: visible;

  &.tether-out-of-bounds-top,
  &.tether-out-of-bounds-bottom {
    opacity: 0;
    visibility: hidden;
  }

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: $_arrow-width;
    height: $_arrow-width;
    margin: -#{$_arrow-width/2} 0px 0px -#{$_arrow-width/2};
    background: $color-white;
    border-top: 1px solid palette(gray, light);
    border-left: 1px solid palette(gray, light);
    transform: rotate(45deg);
  }

  .filters-content {
    display: flex;
    flex-direction: column;

    // Content
    .content {
      width: auto;
      max-width: 330px;
      max-height: 250px;
      overflow-y: auto;
      padding: $space-1 * 3 $space-1 * 3 $space-1 * 2;

      &:before, &:after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: $space-1 * 3;
        z-index: 1;
        pointer-events: none;
      }

      &:before {
        top: 0;
        background: linear-gradient(to bottom, $color-white, rgba($color-white, 0)); /* Standard syntax */
      }

      &:after {
        bottom: $_footer-height;
        background: linear-gradient(to top, $color-white, rgba($color-white, 0)); /* Standard syntax */
      }
    }

    // Footer
    .footer {
      flex: 1;
      width: 100%;
      height: $_footer-height;
      border-top: 1px solid $border-color-1;

      ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0 $space-1 * 3;

        li {
          margin-right: $space-1;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
