.c-table-header-actions {
  position: relative;

  ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    li {
      margin-right: $space-1;

      &:last-child {
        margin-right: 0
      }
    }
  }

  .table-header-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: $color-text-1;
    border-radius: 50%;

    &.-active {
      background: $color-tertiary;
      fill: $color-white;
    }
  }
}
