.c-timeline {
  &.-rate {

    .timeline-list {
      background-image: none;
      border-top: 1px dotted rgba(palette(gray, dark), .3);
    }

    .timeline-list-item {
      box-shadow: 0 0 0px 7px palette(sand);
      border: none;
      background-color: rgba(palette(gray, dark), .3);
      width: 6px;
      height: 6px;

      &.-selected {
        background-color: rgba(palette(gray, dark), 1);
        width: 14px;
        height: 14px;
      }
    }
  }
  &.-bloqued {
    pointer-events: none;
  }
}
