.c-timeline {
  &.-bloqued {
    pointer-events: none;
  }
  &.-rate {
    padding: 0;
    max-width: 325px;

    .timeline-list {
      background-image: none;
      border-top: 1px dotted lighten(palette(gray, dark), 30%);
    }

    .timeline-list-item {
      background-color: palette(sand);
      border: 1px solid lighten(palette(gray, dark), 30%);
      box-shadow: 0 0 0px 7px palette(sand);

      &.-selected {
        border: 1px solid palette(blue, secondary);
        background-color: palette(blue, secondary);
        box-shadow: 0 0 0px 3px palette(sand) inset, 0 0 0px 7px palette(sand);
      }
    }

    &.-bloqued {
      .timeline-list-item {
        width: 6px;
        height: 6px;
        background-color: lighten(palette(gray, dark), 30%);

        &.-selected {
          width: 14px;
          height: 14px;
          background-color: palette(gray, dark);
          box-shadow: 0 0 0px 7px palette(sand);
          border: none;
        }
      }
    }
  }
}
