$min-height-analyzer: 285px;
$max-height-analyzer: 445px;

/* App */
.l-app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */
.l-header {
  display: flex;
  position: relative;
  z-index: 10000;
}

/* Main content */
.l-main {
  flex: 1;
  position: relative;
}

/* Sidebar */
.l-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  max-width: $max-width-sidebar;
  display: flex;
  flex-direction: column;
  z-index: 999; // Must be over Leaflet map
  min-width: 650px;
  transition: all .3s $ease-in-out-sine;

  .l-sidebar-toggle {
    position: absolute;
    z-index: 2;
  }

  .l-sidebar-content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
  }

  &.sidebar-with-open-analyzer {
    max-width: 5000px;
  }
}

/* Map page */
.l-map-page {
  height: 100%;

  .l-map {
    height: 100%;
  }
}

.l-filters {
  padding: $space-1 * 4;
  background: palette(blue);
}

/* MapView content */
.l-mapview-content {
  flex: 1;
  overflow-y: auto;

  .time-scale-container {
    margin: 16px 0 0;
  }
}

.l-container {
  padding: $sidebar-padding;

  &.-top { padding-top: 0 }
  &.-bottom { padding-bottom: 0 }
  &.-left { padding-left: 0 }
  &.-right { padding-right: 0 }
}

.c-accordion {
  &:not(.-closed) {
    &.-filters {
      > .accordion-header {
        margin: $space-1 * 3 0 0;
      }
    }
  }

  &.-filters {
    > .accordion-header {
      padding: 0 !important;
    }
  }
}

.l-analyzer-accordion {
  position: absolute;
  bottom: 0;
  max-height: $max-height-analyzer;
  width: 100%;
  box-shadow: 0px 0px 20px 0px rgba(palette(gray, dark) ,0.15);

  .accordion-analyzer-btn {
    > .c-icon {
      fill: palette(gray, dark);
      transition: transform $animation-time $ease-in-out-cubic;
      transform: rotate(180deg);
    }
  }

  > .accordion-content {
    padding: $space-1 * 2 $sidebar-padding;
    background-color: palette(sand);
  }

  &.-closed {

    .toggle-container {
      // &:before {
      //   transform: translate(0, 0);
      // }

      .accordion-analyzer-btn {
        // transform: translate(0, 0);
        > .c-icon {
          transform: rotate(0);
        }
      }
    }
  }
}

.sidebar-with-open-analyzer {
  > .l-sidebar-content {
    padding: 0 0 $min-height-analyzer;
  }
}

.sidebar-with-data-analyzer {
  > .l-sidebar-content {
    padding: 0 0 calc(#{$max-height-analyzer - 33px});
  }
}

.l-sidebar-content {
  color: palette(gray, dark);
}
